
*{
  font-family: 'Open Sans', sans-serif; 
}
.titulo{
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 75px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: center;
  }
  
.subtitulo{
    color: #111; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 20px; 
    font-weight: 300; 
    line-height: 32px;
    text-align: center;
}
  
.textotitulo{
    color: #685206; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 14px; 
    line-height: 24px; 
    margin: 0 0 50px; 
    text-align: center; 
  }

.medio{
    padding-top: 100px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.divNav{
  text-align: center;
  justify-content: center;
}


table{
  width: 100%;
  text-align: center;
}

.divTable{
  padding-top: 40px;
  padding-left: 120px;
  padding-right: 120px;
  justify-content: center;
  margin: auto;
  width: 70%;
}

.buttons{
  padding-bottom: 10px;
}



footer{
  background-color: lightblue;
  height: 90px;
  
}

.footerIndex{
  margin-top: 100px;
}

.pFooter{
  padding-top: 15px;
}

.footerReservacion{
  margin-top: 60px;
}

.formulario{
  margin: 0 auto;
  width: 420px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
  margin-top: 30px;
}


.formulario-ul{
  list-style: none;
  padding: 0;
}

.img-carrusel{
  height: 500px;
  width: 100px;
}

.carousel{
width: 70%;
margin: auto;
}

.formMenu{
  padding: 0px 70px;
  justify-content: center;
}

.divForm{
  margin: 10px 0px;
}

.inputEdicion{
  margin: 3px 5px;
}

.inputReserva{
  width:40px;
}

.btnReservar{
 margin-left: 10px;
}
.liReserva{
  margin-bottom: 5px;
}
.captchaReserva{
  margin-top: 15px;
}


div h4{
  font-weight: bold;
  margin-top: 20px;
}


.tituloReserva{
  font-weight: bold;
  margin-top: 20px;
}